body {
    background-color: cornflowerblue;
    text-align: center;
}

#sites {
    height:100px;
    width: 100px;
    background-color:black;
}

#sites a {
    color: papayawhip;
}

h1 {
    color:rgb(226, 131, 102);
}

.section {
    display:flex;
    justify-content: space-around;
}
