.App {
  text-align: center;
  background-color: black;
  min-height:950px;
}

.App-header {
  
}

.main {
  display: inline-block;
}

.slim {
  color:yellow;
}

.leftnav {
  width: 100px;
  background-color: brown;
}

p.content {
  margin: 0;
  background-color: blue;
  color:red;
  font-size: 18px;
}

div.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.component {
  background-color: blueviolet;
  color:cornsilk;
  margin:10px;
}

p {
  color:coral;
  font-size:28px;
}